.banner {
    background: #0b3d91;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.footer {
    background: #111;
    color: #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
}
